<div id="homesearch_main_logo">
<h1 class="home-header">[% l("New Books!"); %]</h1>
<iframe width="960" height="350" src="https://www.tadl.org/slider/youth/index.php" frameborder="0" marginwidth="5" marginheight="5" scrolling="no" style="text-align:center"></iframe>
<!-- <h1 class="home-header">[% l("On Display"); %]</h1>
<iframe width="960" height="200" src="https://www.tadl.org/slider/youthdisplay.php" frameborder="0" marginwidth="5" marginheight="5" scrolling="no" style="text-align:center" allowtransparency="true"></iframe> -->
</div>
